// Begin 'cards'
section.cards#cards ==== CARDS ====
  hr
  .wrapper
    .cards-list
      include /components/_card 
      include /components/_card 
      include /components/_card 
      include /components/_card 
      
// End 'cards'