// Begin 'cards'
section.cards#cards
  h2.section__title ==== CARDS ====
  .wrapper
    .cards-list
      include /components/_card 
      include /components/_card 
      include /components/_card 
      include /components/_card 
      
// End 'cards'