// HEADER
header.header
  .wrapper
    .header__top
      h1.header__logo.logo
        a.logo__link(href="/")
          +svg('logo', 75, 50)(aria-label="Company logo")
      nav.header__menu
        include /components/_menu
// End HEADER