*,
*:after,
*:before
  box-sizing: border-box

.clearfix:before,
.clearfix:after
  content: ''
  display: table

.clearfix:after
  clear: both

html, body
  height: 100%

a,
a:hover,
a:visited,
a:active,
a:focus
  text-decoration: none
  cursor: pointer
  color: $primary-color
  transition: all 0.2s ease

a:hover
  color: $second-color

img
  display: block
  max-width: 100%
  height: auto

table
  border-collapse: collapse

textarea
  resize: vertical

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align: middle

.hidden
  display: none !important


.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.invisible
  visibility: hidden


body
  font-family: $font-default
  font-size: $font-size
  line-height: $line-height
  color: $text-color
  background: $background-color url("../img/bg-main.jpg") 50% 50% no-repeat
  background-size: cover
  min-width: 320px
  overflow-x: hidden

.wrapper
  max-width: $wrapper-size
  margin-left: auto
  margin-right: auto
  position: relative

.flex-container
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start

/* Components */

.c-button,
.g-button,
.btn
  // +reset-btn()
  +button($primary-color, transparent, $primary-color)
