*,
*:after,
*:before
  box-sizing: border-box

html, body
  height: 100%

a:any-link
  text-decoration: none
  cursor: pointer
  color: $link-color
  transition: all 0.2s ease

a:hover
  color: $link-hover-color

img
  display: block
  max-width: 100%
  object-fit: cover
  background-color: var(--primary)

table
  border-collapse: collapse

textarea
  resize: vertical

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

:is(audio, canvas, iframe, img, svg, video)
  vertical-align: middle

.hidden
  display: none !important

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  white-space: nowrap
  width: 1px

.invisible
  visibility: hidden

:focus-visible
  outline: $primary 1px auto
  outline-offset: -1px
  box-shadow: 0 0 3px 1px $primary
  
body
  font-family: $font-family-base
  font-size: $font-size
  font-weight: $font-weight
  letter-spacing: $letter-spacing
  line-height: $line-height
  color: $text-color
  background: $bg-color
  background-size: cover
  min-width: 320px
  scroll-behavior: smooth
  overflow-x: hidden

.wrapper
  max-width: $wrapper-size
  padding-left: $wrapper-padding
  padding-right: $wrapper-padding
  margin-left: auto
  margin-right: auto
  +xl
    max-width: $wrapper-xl
  +lg
    max-width: $wrapper-lg  
  +md
    max-width: $wrapper-md  
  +sm
    max-width: $wrapper-sm  
  +xs
    max-width: $wrapper-xs

.flex
  +flex

.flex-center
  +flex-center

.text-shadow
  text-shadow: 0 1px 2px rgba(100,100,100,.35)

/* Button */
=button($color, $background, $border)
  --color: #{$color}
  --background: #{$background}
  --border: #{$border}
  
  display: inline-block
  min-width: 165px
  padding: 0.5em 1em
  
  font-family: inherit
  font-size: 15px
  line-height: 20px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle

  color: var(--color)
  background-color: var(--background)
  border: 2px solid var(--border)
  
  user-select: none
  cursor: pointer
  +transition
  
  &:hover,
  &:active
    --color: #{$background}
    --background: #{$color}
    
  &:disabled
    --color: #{$color}
    --background: #{$button-disabled}
    --border: #{$button-disabled}
    

/* Regular button */  
.btn, .button, a.btn
  +button($light, $button-color, $button-color)

/* Small button */
.btn--small
  min-width: 100px

/* Block button */
.btn--block
  display: block
  width: 100%  

/* Inverse button */  
.btn--inverse,
a.btn--inverse
  --color: #{$button-color}
  --background: #{$light}
  --border: #{$button-color}
  &:hover,
  &:active  
    --color: #{$light}
    --background: #{$button-color}
    --border: #{$button-color}

/* Input */
$input-line-height: 20px // px
$input-py: 8px // padding top,bottom px
:is(input):is([type="text"], [type="email"], [type="password"], input[type="tel"]),
:is(textarea, select)
  font-size: 16px
  font-family: $font-family-base
  line-height: $input-line-height
  padding: $input-py 1em
  border: 2px solid $input-border-color
  background-color: $light
  &:invalid
    color: red  

textarea
  min-height: (3 * $input-line-height + $input-py * 2 + 4px)
  max-height: (10 * $input-line-height + $input-py * 2 + 4px)

/* Section base styles */
.section__title
  color: $header-color
  font-family: $font-family-heading
  font-weight: bold
  font-size: 24px
  text-align: center
  margin-bottom: 20px

.section__text
  color: $text-color

/* Dropdown */
.dropdown
  &::after
    display: inline-block
    content: ''
    +arrow(bottom, 0.6em, 0.3em, currentColor)
    margin-left: 0.3em
    vertical-align: 0.2em
  &__menu
    display: none
    position: absolute
    top: 35px
    left: 0
    z-index: $z-index-dropdown
    background-color: $light
    padding: 0.5em 0
    border: 1px solid rgba(0,0,0,.15)
    &.show
      display: block
  &__item
    display: block
    width: 100%
    padding: 0.25em 1em
    white-space: nowrap
    &:hover
      color: $light
      background-color: $primary
      
/** Icons **/
.icon
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor      