/* Global variables */

:root
  
  /* Typography */
  --font-family-base: Roboto, Arial, sans-serif
  --font-family-heading: 'Roboto Slab', Georgia, serif
  --font-size: 14px
  --font-weight: normal
  --line-height: normal
  --letter-spacing: normal

  /* Aliases */
  --ff: var(--font-family-base)
  --fh: var(--font-family-heading)
  --fz: var(--font-size)
  --fw: var(--font-weight)
  --lh: var(--line-height)
  --ls: var(--letter-spacing)

  /* Colors */
  --light: #fff
  --dark: #000

  --primary: #387bab
  --primary-darken: #{darken(#387bab, 20%)}
  --secondary: #3d176b

  --header-color: var(--text-color)
  --text-color: #363b5d
  --bg-color: #f7f7f7
  --border-color: #979797
  --input-border-color: #d4d9dd     
  --button-color: var(--primary)
  --button-disabled: #979797

  --menu-color: var(--secondary)
  --menu-bg-color: var(--light)

  --link-color: var(--primary)
  --link-hover-color: var(--primary-darken)

  --placeholder-color: #cdcdcd

  --icon-color: #939393
  --icon-bg-color: #303030

  /* Animation */
  --time: 0.3s
  --func: ease-in-out

  /* Layout */
  --wrapper-size: 1440px
  --wrapper-padding: 15px

  --wrapper-xl: 1140px
  --wrapper-lg: 960px
  --wrapper-md: 720px
  --wrapper-sm: 540px
  --wrapper-xs: 100%

  --z-index-dropdown: 100
  --z-index-fixed: 200
  --z-index-cover: 300
  --z-index-modal: 400

/* Typography */
$font-family-base: var(--font-family-base)
$font-family-heading: var(--font-family-heading)
$font-size: var(--font-size)
$font-weight: var(--font-weight)
$line-height: var(--line-height)
$letter-spacing: var(--letter-spacing)

/* Layout */
$wrapper-size: var(--wrapper-size)
$wrapper-padding: var(--wrapper-padding)

$break-xl: 1440px
$break-lg: 1200px
$break-md: 992px
$break-sm: 768px
$break-xs: 576px

$wrapper-xl: var(--wrapper-xl)
$wrapper-lg: var(--wrapper-lg)
$wrapper-md: var(--wrapper-md)
$wrapper-sm: var(--wrapper-sm)
$wrapper-xs: var(--wrapper-xs)

$z-index-dropdown: var(--z-index-dropdown)
$z-index-fixed: var(--z-index-fixed)
$z-index-cover: var(--z-index-cover)
$z-index-modal: var(--z-index-modal)

/* Colors */
$light: var(--light)
$dark: var(--dark)

$primary: var(--primary)
$primary-darken: var(--primary-darken)
$secondary: var(--secondary)

$header-color: var(--header-color)
$text-color: var(--text-color)
$bg-color: var(--bg-color)
$border-color: var(--border-color)
$input-border-color: var(--input-border-color)
$button-color: var(--button-color)
$button-disabled: var(--button-disabled)

$menu-color: var(--menu-color)
$menu-bg-color: var(--menu-bg-color)

$link-color: var(--link-color)
$link-hover-color: var(--link-hover-color)

$placeholder-color: var(--placeholder-color)

$icon-color: var(--icon-color)
$icon-bg-color: var(--icon-bg-color)

/* Animation */
$time: var(--time)
$func: var(--func)    