<!-- MAIN-->
<main class="content">
  <!--include /partials/__section_name-->
  <!--include /partials/__section_name-->
  <!--include /partials/__section_name-->
  <!--include /partials/__section_name-->
  <!-- Samples-->
  <hr>
  <h2 class="section__title">=== MAIN CONTENT ===</h2>
  <hr>
  <include src="partials/sections/forms.html"></include>
  <hr>
  <include src="partials/sections/slider.html"></include>
  <hr>
  <include src="partials/sections/accordion.html"></include>
  <hr>
  <include src="partials/sections/cards.html"></include>
  <hr>
  <include src="partials/sections/masonry.html"></include>
  <hr>
  <include src="partials/sections/testimonials.html"></include>
  <hr>
</main>
<!-- End MAIN-->