<div class="card">
  <div class="card__body">
    <picture>
      <source srcset="img/card-img-1.webp" type="image/webp"/><img class="card__img" src="img/card-img-1.jpg" alt="Girl" loading="lazy" width="260" height="160"/>
    </picture>
    <div class="card__tags">
      <div class="card__tag">{{ tag }}</div>
      <div class="card__icon card__icon--comment">
        <svg class="symbol-comments" width="16" height="16">
          <use xlink:href="#comments"></use>
        </svg><span>7</span>
      </div>
      <div class="card__icon card__icon--like">
        <svg class="symbol-heart" width="16" height="16">
          <use xlink:href="#heart"></use>
        </svg><span>15</span>
      </div>
    </div>
  </div>
  <div class="card__content">
    <h3 class="card__title">Why It’s Amazing To Date People Who Love Traveling</h3>
    <div class="card__text">
      <p>Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris. </p>
    </div>
  </div>
  <div class="card__meta">
    <div class="card__user user">
      <div class="user__avatar"><img class="user__img" src="img/user-avatar.jpg" alt=""></div>
      <div class="user__info">
        <div class="user__name">Benjamin Miller</div>
        <div class="user__date">April 28, 2016</div>
      </div>
    </div>
    <div class="card__menu menu-card">
      <svg class="symbol-menu-cebab" width="16" height="16">
        <use xlink:href="#menu-cebab"></use>
      </svg>
    </div>
  </div>
</div>