<nav class="header__menu">
  <input class="menu__toggle" id="menu-toggle" type="checkbox">
  <label class="menu__icon" for="menu-toggle" aria-label="Toggle navigation"><span class="line-1"></span><span class="line-2"></span><span class="line-3"></span></label>
  <!--button(type="button").menu__icon.js-menu-toggle Menu-->
  <!--  span.line-1-->
  <!--  span.line-2-->
  <!--  span.line-3-->
  <ul class="menu">
    <li class="menu__item menu__item--active"><a class="menu__link" href="#home">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#about">About us</a></li>
    <li class="menu__item"><a class="menu__link" href="#features">Services</a></li>
    <li class="menu__item"><a class="menu__link" href="#portfolio">Portfolio</a></li>
    <li class="menu__item"><a class="menu__link" href="#blog">Blog</a></li>
    <li class="menu__item"><a class="menu__link" href="#contact-form">Contact Us</a></li>
    <li class="menu__item menu__item--with-dropdown"><a class="menu__link dropdown" href="#ru">RU</a>
      <div class="dropdown__menu"><a class="dropdown__item" href="#">Action</a><a class="dropdown__item" href="#">Another action</a><a class="dropdown__item" href="#">Js triggered</a></div>
    </li>
    <li class="menu__item menu__item--with-dropdown"><a class="menu__link dropdown" href="#login">Login</a>
      <div class="dropdown__menu"><a class="dropdown__item" href="#">This action</a><a class="dropdown__item" href="#">Run by css</a><a class="dropdown__item" href="#">Something else</a></div>
    </li>
  </ul>
</nav>