//- components templates for Masonry Grid
ul.grid
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Photography
      span.grid__creator Canon Microless Pack
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Branding
      span.grid__creator North Oxford Logo Design
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Applications
      span.grid__creator North Oxford Gymnastic
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Web Design
      span.grid__creator Cesis Fashion
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Branding
      span.grid__creator Kinfolk Brochure
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Photography
      span.grid__creator Creative Design
  li.grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Interaction
      span.grid__creator Cesis Fashion 