//- components templates for Massonry Grid
.grid
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Photography
      span.grid__creator Canon Microless Pack
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Branding
      span.grid__creator North Oxford Logo Design
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Applications
      span.grid__creator North Oxford Gymnastic
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Web Design
      span.grid__creator Cesis Fashion
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Branding
      span.grid__creator Kinfolk Brochure
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Photography
      span.grid__creator Creative Design
  .grid__item
    +picture('girl', alt='Girl').grid__image
    .grid__info
      span.grid__branch Interaction
      span.grid__creator Cesis Fashion 