//- Common templates for Menu Horizontal
ul.menu__list
  li.menu__item.menu__item--active
    a.menu__link(href="#home") Home
  li.menu__item
    a.menu__link(href="#about") About us
  li.menu__item
    a.menu__link(href="#features") Services
  li.menu__item
    a.menu__link(href="#portfolio") Portfolio
  li.menu__item
    a.menu__link(href="#blog") Blog
  li.menu__item
    a.menu__link(href="#contact-form") Contact Us

  //- Item with dropdown (JS trigger)
  li.menu__item.menu__item--with-dropdown
    a.menu__link(href="#ru").dropdown RU
    //- Add class .show to .dropdown__menu
    .dropdown__menu
      a(href="#").dropdown__item Action
      a(href="#").dropdown__item Another action
      a(href="#").dropdown__item Js trigered

  //- Item with dropdown (JS trigger)
  li.menu__item.menu__item--with-dropdown
    a.menu__link(href="#ru").dropdown Login
    //- Add class .show to .dropdown__menu
    .dropdown__menu
      a(href="#").dropdown__item This action
      a(href="#").dropdown__item Run by css
      a(href="#").dropdown__item Something else

button(type="button").menu__btn.js-menu-toggle.menu-icon Menu
  span.line-1
  span.line-2
  span.line-3