.glide

  .glide__track(data-glide-el='track')
    ul.glide__slides
      li.glide__slide 0 Slide
      li.glide__slide 1 Slide
      li.glide__slide 2 Slide
      li.glide__slide 3 Slide
      li.glide__slide 4 Slide

  .glide__number Current: 
    span.js-slide-number 0

  .glide__arrows(data-glide-el='controls')
    button.glide__arrow(data-glide-dir='<<')
      +svg('double-arrow-left', 26, 26)
      span.visually-hidden Start
    button.glide__arrow.glide__arrow--left.js-prev(data-glide-dir='<')
      +svg('arrow-left', 35, 26)
      span.visually-hidden Prev
    button.glide__arrow.glide__arrow--right.js-next(data-glide-dir='>')
      +svg('arrow-right', 35, 26)
      span.visually-hidden Next
    button.glide__arrow(data-glide-dir='>>')
      +svg('double-arrow-right', 26, 26)
      span.visually-hidden End

  .glide__bullets(data-glide-el='controls[nav]')
    button.glide__bullet(data-glide-dir='=0'): span.visually-hidden 1
    button.glide__bullet(data-glide-dir='=1'): span.visually-hidden 2
    button.glide__bullet(data-glide-dir='=2'): span.visually-hidden 3
    button.glide__bullet(data-glide-dir='=3'): span.visually-hidden 4 
    button.glide__bullet(data-glide-dir='=4'): span.visually-hidden 5