.glide

  .glide__track(data-glide-el='track')
    ul.glide__slides
      li.glide__slide 0 Slide
      li.glide__slide 1 Slide
      li.glide__slide 2 Slide
      li.glide__slide 3 Slide
      li.glide__slide 4 Slide

  .glide__number Current: 
    span.js-slide-number 0

  .glide__arrows(data-glide-el='controls')
    button.glide__arrow(data-glide-dir='<<')
      +svg('double-arrow-left', 26, 26)
      span Start
    button.glide__arrow.glide__arrow--left.js-prev(data-glide-dir='<')
      +svg('arrow-left', 35, 26)
      span Prev
    button.glide__arrow.glide__arrow--right.js-next(data-glide-dir='>')
      +svg('arrow-right', 35, 26)
      span Next
    button.glide__arrow(data-glide-dir='>>')
      +svg('double-arrow-right', 26, 26)
      span End

  .glide__bullets(data-glide-el='controls[nav]')
    button.glide__bullet(data-glide-dir='=0')
    button.glide__bullet(data-glide-dir='=1')
    button.glide__bullet(data-glide-dir='=2')
    button.glide__bullet(data-glide-dir='=3')
    button.glide__bullet(data-glide-dir='=4')