ul.social
  li.social__item
    a.social__link(target="_blank" href="#facebook" aria-label="Facebook") 
      +svg('facebook',18,18)
  li.social__item
    a.social__link(target="_blank" href="#twitter" aria-label="Twitter") 
      +svg('twitter',18,18)
  li.social__item
    a.social__link(target="_blank" href="#youtube" aria-label="Youtube") 
      +svg('youtube',18,18)
  li.social__item
    a.social__link(target="_blank" href="#linkedin" aria-label="LinkedIn") 
      +svg('linkedin',18,18)
  li.social__item
    a.social__link(target="_blank" href="#pinterest" aria-label="Pinterest")
      +svg('pinterest',18,18)
  li.social__item
    a.social__link(target="_blank" href="#instagram" aria-label="Instagram") 
      +svg('instagram',18,18)
  li.social__item
    a.social__link(target="_blank" href="#behance" aria-label="Behance") 
      +svg('behance',18,18)
  li.social__item
    a.social__link(target="_blank" href="#dribble" aria-label="Dribble") 
      +svg('dribble',18,18)
  li.social__item
    a.social__link(target="_blank" href="#google-plus" aria-label="Google Plus") 
      +svg('google-plus',18,18)
  li.social__item
    a.social__link(target="_blank" href="#vk" aria-label="vk") 
      +svg('vk',18,18)