mixin testimonial(name, job, description)
  // Testimonial item
  article.testimonials__item.testimonial
    .testimonial__img
      +picture("girl", alt="Girl Picture")
    h4.testimonial__name= name || 'Default Name'
    .testimonial__job= job || 'Default Job'
    .testimonial__raiting
      .raiting
        +svg('star', 18, 18).symbol-star
        +svg('star', 18, 18).symbol-star
        +svg('star', 18, 18).symbol-star
        +svg('star-half', 18, 18).symbol-star
        +svg('star-empty', 18, 18).symbol-star
    .testimonial__descr
      p= description || 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque sunt error adipisci rem tempora suscipit repellat deleniti fugit.'
  // End Testimonial item

// Testimonials
section.testimonials
  h2.testimonials__title Our Clients says 
  .testimonials__list
    +testimonial('Brad Pit', 'SEO', 'Cool thing')
    +testimonial
    +testimonial(
      'Elon Musk', 
      'Iron man', 
      'My biggest mistake is probably weighing too much on someone’s talent and not someone’s personality. ' +
      'I think it matters whether someone has a good heart.'
    )
    +testimonial
// End Testimonials