include common/_mixins

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title DevChallenge
    meta(name='description', content='Site description')

    meta(property='og:image', content='path/to/image.jpg')
    link(rel='icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
    link(rel='manifest', href='img/favicon/manifest.json')

    // Custom Browsers Color
    meta(name='theme-color', content='#ffd200')

    // Bundle styles
    link(rel='stylesheet', href='css/main.min.css')

  body

    // =========== Inline <symbol> SVG sprite generated ===========
    .visually-hidden
      include ../img/sprites/sprite-symbol.svg
    // ============================================================

    include partials/_header

    // MAIN
    main.main-content
      block content
    // End MAIN

    include partials/_footer

    // Scripts Bundle
    script(src='js/app.min.js')
