//- Sample (Shift+Ctrl+G tag* |bem|jade   Ctrl+U - paste IMG sizes)
hr
| === MAIN CONTENT ===
hr
include /partials/_slider-section
hr
include /partials/_cards
hr
include /partials/_massonry-grid
hr
include /partials/_form
hr
include /partials/_section_name
hr
//- include /partials/_sample
hr