//- Temp sample                            Shift+Ctrl+G tag* |bem|jade   Ctrl+U - paste IMG sizes
include /partials/_sample

include /partials/_section_name
include /partials/_section_name
include /partials/_section_name