| === MAIN CONTENT ===
//- Sample (Shift+Ctrl+G tag* |bem|jade   Ctrl+U - paste IMG sizes)
hr
include /partials/_card
hr
include /components/_form
hr
include /partials/_section_name
//- hr
//- include /partials/_sample