//- Temp sample                            Shift+Ctrl+G tag* |bem|jade   Ctrl+U - paste IMG sizes
//- include /partials/_sample
hr

include /partials/_card

hr

include /common/_form

hr

//- include /partials/_section_name
//- include /partials/_section_name
//- include /partials/_section_name