extends /layouts/_main

block variables
  - const title = 'DevChallenge';
  - const description = 'Site description';

block content
  //include /partials/__section_name
  //include /partials/__section_name
  //include /partials/__section_name
  //include /partials/__section_name

  // Samples
  hr
  | === MAIN CONTENT ===
  hr
  include /partials/_slider-section
  hr
  include /partials/_accordion-section
  hr
  include /partials/_cards-section
  hr
  include /partials/_masonry-grid-section
  hr
  include /partials/_form-section
  hr
  include /partials/_testimonials-section
  hr