extends /layouts/_main

block variables
    - const title = 'DevChallenge';
    - const description = 'Site description';

block content
    hr
    | === MAIN CONTENT ===
    hr
    include /partials/_slider-section
    hr
    include /partials/_cards
    hr
    include /partials/_massonry-grid
    hr
    include /partials/_form
    hr
    include /partials/__section_name
    hr
    include /partials/_sample
    hr