// Common styles for Social icons block
$social-icon-size: 34px

.social
  +flex

.social__link
  +hide-text
  +flex-center
  fill: $icon-color
  +size($social-icon-size)
  +transition(background-color transform, 0.2s)
  &:hover
    background-color: $primary
    fill: $light
    transform: scale(1.1)
  &:active
    background-color: darken($primary, 20%)
  &:focus
    outline: 2px solid darken($primary, 20%)
