<!-- Begin 'cards'-->
<section class="cards" id="cards">
  <h2 class="section__title">==== CARDS ====</h2>
  <div class="wrapper">
    <div class="cards-list">
      <include src="components/card.html">
        {
          "tag": "Inspiration"
        }
      </include>
      <include src="components/card.html">
        {
        "tag": "Design"
        }
      </include>
      <include src="components/card.html">
        {
        "tag": "Web Develop"
        }
      </include>
      <include src="components/card.html">
        {
        "tag": "Nature"
        }
      </include>
    </div>
  </div>
</section>
<!-- End 'cards'-->