<!-- Begin 'masonry'-->
<section class="masonry" id="masonry">
  <h2 class="section__title">==== MASONRY GRID ====</h2>
  <div class="wrapper">
    <ul class="grid">
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Photography</span><span class="grid__creator">Canon Microless Pack</span></div>
      </li>
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Branding</span><span class="grid__creator">North Oxford Logo Design</span></div>
      </li>
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Applications</span><span class="grid__creator">North Oxford Gymnastic</span></div>
      </li>
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Web Design</span><span class="grid__creator">Cesis Fashion</span></div>
      </li>
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Branding</span><span class="grid__creator">Kinfolk Brochure</span></div>
      </li>
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Photography</span><span class="grid__creator">Creative Design</span></div>
      </li>
      <li class="grid__item">
        <picture>
          <source srcset="img/girl.webp" type="image/webp"/><img class="grid__image" src="img/girl.jpg" alt="Girl" loading="lazy"/>
        </picture>
        <div class="grid__info"><span class="grid__branch">Interaction</span><span class="grid__creator">Cesis Fashion </span></div>
      </li>
    </ul>
  </div>
</section>
<!-- End 'masonry'-->