<!-- Begin 'Testimonials'-->
<section class="testimonials" id="testimonials">
  <h2 class="section__title">==== TESTIMONIALS ====</h2>
  <div class="wrapper">
    <div class="testimonials__list">
      <!-- Testimonials-->
      <!-- Testimonial item-->
      <article class="testimonial">
        <div class="testimonial__img">
          <picture>
            <source srcset="img/girl.webp" type="image/webp"/><img src="img/girl.jpg" alt="Girl Picture" loading="lazy"/>
          </picture>
        </div>
        <h3 class="testimonial__name">Brad Pit</h3>
        <div class="testimonial__job">SEO</div>
        <div class="testimonial__raiting">
          <div class="rating">
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star-half rating__star" width="18" height="18">
              <use xlink:href="#star-half"></use>
            </svg>
            <svg class="symbol-star-empty rating__star" width="18" height="18">
              <use xlink:href="#star-empty"></use>
            </svg>
          </div>
        </div>
        <div class="testimonial__descr">
          <p>Cool thing</p>
        </div>
      </article>
      <!-- End Testimonial item-->
      <!-- Testimonial item-->
      <article class="testimonial">
        <div class="testimonial__img">
          <picture>
            <source srcset="img/girl.webp" type="image/webp"/><img src="img/girl.jpg" alt="Girl Picture" loading="lazy"/>
          </picture>
        </div>
        <h3 class="testimonial__name">Default Name</h3>
        <div class="testimonial__job">Default Job</div>
        <div class="testimonial__raiting">
          <div class="rating">
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star-half rating__star" width="18" height="18">
              <use xlink:href="#star-half"></use>
            </svg>
            <svg class="symbol-star-empty rating__star" width="18" height="18">
              <use xlink:href="#star-empty"></use>
            </svg>
          </div>
        </div>
        <div class="testimonial__descr">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque sunt error adipisci rem tempora suscipit repellat deleniti fugit.</p>
        </div>
      </article>
      <!-- End Testimonial item-->
      <!-- Testimonial item-->
      <article class="testimonial">
        <div class="testimonial__img">
          <picture>
            <source srcset="img/girl.webp" type="image/webp"/><img src="img/girl.jpg" alt="Girl Picture" loading="lazy"/>
          </picture>
        </div>
        <h3 class="testimonial__name">Elon Musk</h3>
        <div class="testimonial__job">Iron man</div>
        <div class="testimonial__raiting">
          <div class="rating">
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star-half rating__star" width="18" height="18">
              <use xlink:href="#star-half"></use>
            </svg>
            <svg class="symbol-star-empty rating__star" width="18" height="18">
              <use xlink:href="#star-empty"></use>
            </svg>
          </div>
        </div>
        <div class="testimonial__descr">
          <p>My biggest mistake is probably weighing too much on someone’s talent and not someone’s personality. I think it matters whether someone has a good heart.</p>
        </div>
      </article>
      <!-- End Testimonial item-->
      <!-- Testimonial item-->
      <article class="testimonial">
        <div class="testimonial__img">
          <picture>
            <source srcset="img/girl.webp" type="image/webp"/><img src="img/girl.jpg" alt="Girl Picture" loading="lazy"/>
          </picture>
        </div>
        <h3 class="testimonial__name">Default Name</h3>
        <div class="testimonial__job">Default Job</div>
        <div class="testimonial__raiting">
          <div class="rating">
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star rating__star" width="18" height="18">
              <use xlink:href="#star"></use>
            </svg>
            <svg class="symbol-star-half rating__star" width="18" height="18">
              <use xlink:href="#star-half"></use>
            </svg>
            <svg class="symbol-star-empty rating__star" width="18" height="18">
              <use xlink:href="#star-empty"></use>
            </svg>
          </div>
        </div>
        <div class="testimonial__descr">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque sunt error adipisci rem tempora suscipit repellat deleniti fugit.</p>
        </div>
      </article>
      <!-- End Testimonial item-->
      <!-- End Testimonials-->
    </div>
  </div>
</section>
<!-- End 'Testimonials'-->