.symbol-arrow-left-dims {
	width: 45px;
	height: 34px;
}

.symbol-arrow-right-dims {
	width: 45px;
	height: 34px;
}

.symbol-behance-dims {
	width: 511.96px;
	height: 511.96px;
}

.symbol-chevron-small-right-dims {
	width: 20px;
	height: 20px;
}

.symbol-comments-dims {
	width: 576px;
	height: 512px;
}

.symbol-double-arrow-left-dims {
	width: 26px;
	height: 26px;
}

.symbol-double-arrow-right-dims {
	width: 26px;
	height: 26px;
}

.symbol-dribble-dims {
	width: 512px;
	height: 512px;
}

.symbol-facebook-dims {
	width: 20px;
	height: 20px;
}

.symbol-google-plus-dims {
	width: 512px;
	height: 512px;
}

.symbol-heart-dims {
	width: 512px;
	height: 512px;
}

.symbol-instagram-dims {
	width: 512px;
	height: 512px;
}

.symbol-linkedin-dims {
	width: 512px;
	height: 512px;
}

.symbol-logo-dims {
	width: 388px;
	height: 240px;
}

.symbol-menu-cebab-dims {
	width: 192px;
	height: 512px;
}

.symbol-pinterest-dims {
	width: 512px;
	height: 512px;
}

.symbol-star-dims {
	width: 37px;
	height: 35px;
}

.symbol-star-empty-dims {
	width: 67px;
	height: 63px;
}

.symbol-star-half-dims {
	width: 67px;
	height: 63px;
}

.symbol-twitter-dims {
	width: 512px;
	height: 512px;
}

.symbol-vk-dims {
	width: 548.358px;
	height: 548.358px;
}

.symbol-youtube-dims {
	width: 512px;
	height: 512px;
}

