%svg-common {
	background: url("../img/sprites/sprite.svg") no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.svg-arrow-left {
	@extend %svg-common;
	background-position: 0 0;
	width: 45px;
	height: 34px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 0.724287783679382% 0.5272952853598015%;
	width: 45px;
	height: 34px;
}

.svg-behance {
	@extend %svg-common;
	background-position: 1.5662960926133476% 1.1390208440814467%;
	width: 511.96px;
	height: 511.96px;
}

.svg-comments {
	@extend %svg-common;
	background-position: 10.594860964449138% 9.715242881072026%;
	width: 576px;
	height: 512px;
}

.svg-double-arrow-left {
	@extend %svg-common;
	background-position: 18.902439024390244% 16.91449814126394%;
	width: 26px;
	height: 26px;
}

.svg-double-arrow-right {
	@extend %svg-common;
	background-position: 19.319640564826702% 17.31722428748451%;
	width: 26px;
	height: 26px;
}

.svg-dribble {
	@extend %svg-common;
	background-position: 21.40619561434041% 19.162479061976548%;
	width: 512px;
	height: 512px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 27.92561718499519% 25.62674094707521%;
	width: 20px;
	height: 20px;
}

.svg-google-plus {
	@extend %svg-common;
	background-position: 30.66481030281935% 28.073701842546065%;
	width: 512px;
	height: 512px;
}

.svg-heart {
	@extend %svg-common;
	background-position: 39.575356769926906% 36.6499162479062%;
	width: 512px;
	height: 512px;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 48.48590323703446% 45.22613065326633%;
	width: 512px;
	height: 512px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 57.396449704142015% 53.802345058626464%;
	width: 512px;
	height: 512px;
}

.svg-menu-cebab {
	@extend %svg-common;
	background-position: 62.80909990108803% 62.3785594639866%;
	width: 192px;
	height: 512px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: 69.6484510964149% 70.95477386934674%;
	width: 512px;
	height: 512px;
}

.svg-star {
	@extend %svg-common;
	background-position: 72.56068156244977% 73.64665736001241%;
	width: 37px;
	height: 35px;
}

.svg-star-empty {
	@extend %svg-common;
	background-position: 73.50993377483444% 74.51316404424365%;
	width: 67px;
	height: 63px;
}

.svg-star-half {
	@extend %svg-common;
	background-position: 74.59214989500889% 75.49462533104845%;
	width: 67px;
	height: 63px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 81.53498085624783% 82.22780569514238%;
	width: 512px;
	height: 512px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 91.02146859645491% 91.36041574466407%;
	width: 548.358px;
	height: 548.358px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 100% 100%;
	width: 512px;
	height: 512px;
}

