//- Card component

.card
  img.card__img(src='img/portfolio/portfolio2.jpg', alt='Card image cap')
  .card__body
    h5.card__title Card title
    p.card__text
      | Some quick example text to build on the card title and make up the bulk of the card's content.
    a.btn(href='#') Go somewhere
