//- Common templates for forms
section
  .wrapper

    form(action='').sample-form.form
      fieldset.form__fields
        .form__inline
          .form__group.form__group--50
              label.form__label(for='first_name') First name
              input#first_name.form__text-input(type='text', name='account[first_name]')
          .form__group.form__group--50
              label.form__label(for='last_name') Last name
              input#last_name.form__text-input(type='text', name='account[last_name]')
        .form__group
            label.form__label.form__label--required(for='email') Email address
            input#email.form__text-input(type='email', name='account[email]')
        .form__group
            label.form__label(for='message') Your message
            textarea#message.form__text-input(name='account[message]').
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit inventore saepe ut atque aperiam illo? Eligendi, obcaecati dolor, pariatur itaque cum porro beatae non architecto in voluptatum saepe voluptatibus sunt.Ad, blanditiis! Ad fuga at voluptatibus veritatis magnam dicta commodi, aut, porro vel quam, debitis numquam? Officiis, repellat perferendis facere ea molestiae neque reiciendis veniam maiores obcaecati, fugiat dolor blanditiis!Accusantium consequuntur nisi soluta quod expedita tempora voluptatum assumenda hic ullam repellendus similique facere accusamus, autem dolorem ea distinctio. Quos necessitatibus vitae est magnam minus praesentium inventore, laborum voluptatem numquam?Ullam iusto dolorem deleniti voluptate alias fugiat pariatur nostrum officiis. Assumenda, maiores dolores quibusdam itaque neque fuga error cupiditate repudiandae, dolore magnam excepturi quisquam impedit. Repudiandae ut expedita quae soluta.Modi tempore officiis dicta odit soluta consectetur, cupiditate iure iusto. Sed impedit asperiores quod doloribus fugiat ut eligendi labore architecto! A quidem molestias dolore libero aliquam blanditiis est excepturi ad.Quaerat suscipit vitae, dolore hic ad magnam quas nostrum accusantium explicabo animi consequuntur quasi eos tenetur, atque aspernatur nobis voluptas earum beatae inventore ipsa, repellat esse? Exercitationem commodi inventore voluptatum.Unde iste saepe tempore harum voluptas molestiae veniam reiciendis sed est a. Facilis accusantium temporibus animi, excepturi omnis laudantium eveniet quibusdam asperiores sequi blanditiis reiciendis! Earum, eos eius. Expedita, laudantium.Voluptate quod saepe repellendus alias accusamus. Distinctio aperiam doloribus perferendis ea, repellendus voluptatum quia impedit id. Officiis, unde, quos vero nisi eos aut, blanditiis fugiat perspiciatis nulla doloremque consectetur! Sit?Quas saepe voluptas magnam nobis beatae! Quasi, velit. Dignissimos perferendis distinctio, natus atque explicabo optio. Numquam odio expedita adipisci doloremque optio. Reprehenderit, expedita ullam accusamus animi aspernatur laudantium magni deleniti?Dolorem officiis tenetur sunt mollitia, rerum excepturi exercitationem laudantium nisi repellat. Quo quisquam veniam corrupti harum, dolor libero distinctio, provident adipisci laboriosam iste alias mollitia unde voluptate eum, enim ex?
        .form__group
            label.form__label(for='options') Your options
            select#options.form__select(name='account[options]')
              option(value='1') One
              option(value='2') Two
              option(value='3') Some
        .form__group
            input(name='account[email_consent]', type='hidden', value='0')
            input#email_consent.form__checkbox(type='checkbox', value='1', name='account[email_consent]')
            label.form__label(for='email_consent') I want to hear from Treehouse about products and services.
        .form__group
            input#gender__male.form__radio(type='radio', value='male', name='account[gender]')
            label.form__label(for='gender__male') Male
            input#gender__female.form__radio(type='radio', value='female', name='account[gender]')
            label.form__label(for='gender__female') Female

      button.btn(type="submit")
        span Submit button
      button.btn.btn--inverse(type="submit")
        span Inverse button
      button.btn.btn--small(type="submit")
        span Small
