//- Common templates for Menu Horizontal
ul.menu
  li.menu__item
    a.menu__link.menu__link--active(href="#") Item1
  li.menu__item
    a.menu__link(href="#") Item2
  li.menu__item
    a.menu__link(href="#") Item3
  li.menu__item
    a.menu__link(href="#") Item4
  li.menu__item
    a.menu__link(href="#") Item5
  li.menu__item.menu__item--right
    a.menu__link(href="#") Item6
