//- Common templates for Menu Horizontal
ul.menu__list
  li.menu__item
    a.menu__link(href="#home") Home
  li.menu__item
    a.menu__link(href="#about") about us
  li.menu__item
    a.menu__link(href="#features") services
  li.menu__item
    a.menu__link(href="#portfolio") portfolio
  li.menu__item
    a.menu__link(href="#blog") blog
  li.menu__item
    a.menu__link(href="#contact-form") contact us
  //- Item with dropdown
  li.menu__item.menu__item--with-dropdown
    a.menu__link(href="#ru").dropdown ru
    .dropdown__menu.show
      a(href="#").dropdown__item Action
      a(href="#").dropdown__item Another action
      a(href="#").dropdown__item Something else