//- Social buttons component

ul.social
  li.social__item
    a.social__link(target="_blank" href="#facebook" aria-label="Facebook") 
      +svg('facebook',18,18)
  li.social__item
    a.social__link(target="_blank" href="#twitter" aria-label="Twitter") 
      +svg('twitter',18,18)
  li.social__item
    a.social__link(target="_blank" href="#youtube" aria-label="Youtube") 
      +svg('youtube',18,18)
  li.social__item
    a.social__link(target="_blank" href="#linkedin" aria-label="LinkedIn") 
      +svg('linkedin',18,18)
  li.social__item
    a.social__link(target="_blank" href="#pinterest" aria-label="Pinterest")
      +svg('pinterest',18,18)
  li.social__item
    a.social__link(target="_blank" href="#instagram" aria-label="Instagramm") 
      +svg('instagram',18,18)