// Testimonial item
article.testimonial
  .testimonial__img
    img(src="http://lorempixel.com/80/80/cats/", alt="Avatar")
  h4.testimonial__name Salam Halem
  .testimonial__job Marketing SEO
  .testimonial__raiting
    .raiting
      +svg('star', 18, 18).symbol-star
      +svg('star', 18, 18).symbol-star
      +svg('star', 18, 18).symbol-star
      +svg('star-half', 18, 18).symbol-star
      +svg('star-empty', 18, 18).symbol-star
  .testimonial__descr
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque sunt error adipisci rem tempora suscipit repellat deleniti fugit. Atque, et.
// End Testimonial item